<% provide(:title, "Help") %>
<div class="center jumbotron">
	<p>1</p>
<% if current_user %>
<% if find_favs %>
<p> my favs: </p>
<%= @find_favs.inspect %>
<% end %>

<% if find_karma %>
<p> my karmas: </p>
<%= @find_karma.inspect %>
<% end %>

<% if find_matches %>
<p> my Subreddits: </p>
<%= @find_matches.inspect %>
<% end %>

<% end %>