<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Home</h1>
<h2>To find your Reddit friend recommendation, 
  <% if current_user %>
  Signed in as <%= current_user.name %>!
  <%= link_to "Sign out", signout_path %>
  <% else %>
  <%= link_to "Sign in with Reddit", "/auth/reddit" %>
  <% end %>
</h2>
<% if current_user %>
  <%= link_to "Access my account", access_path %>
<% end %>
